{% extends 'layout.html' %}
{% import 'macros.html' as macro %}
{% block content %}
<main class="container">
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="alert alert-{{ category }}">{{ message }}</div>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <section class="account-container">
        <div class="card">
            <div class="img-container">
                <div class="img">
                    <p>p</p>
                </div>
            </div>
            <div class="profile-desc">
                <p>username: ismailpervez</p>
                <p>email: pervez@gmail.com</p>
                <p>posts: 5</p>
                <p>upvotes: 400 downvotes: 10</p>
            </div>
        </div>
        <div class="posts">
            {{ macro.render_article(1, 'title', 'username', 'content', 7, 0, ['tags'], 'true') }}
            {{ macro.render_article(1, 'title', 'username', 'content', 7, 0, ['tags'], 'true') }}
            {{ macro.render_article(1, 'title', 'username', 'content', 7, 0, ['tags'], 'true') }}
            {{ macro.render_article(1, 'title', 'username', 'content', 7, 0, ['tags'], 'true') }}
            {{ macro.render_article(1, 'title', 'username', 'content', 7, 0, ['tags'], 'true') }}
            {{ macro.render_article(1, 'title', 'username', 'content', 7, 0, ['tags'], 'true') }}
        </div>
    </section>
</main>
{% endblock %}