{% extends 'layout.html' %}
{% import 'macros.html' as macro %}
{% block content %}
<main class="container">
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="alert alert-{{ category }}">{{ message }}</div>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <section class="account-container">
        <div class="card">
            <div class="img-container">
                <div class="img">
                    <p>p</p>
                </div>
            </div>
            <div class="profile-desc">
                <p>username: {{ current_user.username }}</p>
                <p>email: {{ current_user.email }}</p>
                <p>current posts: {{ posts | count }} posts</p>
                <h4>total votes</h4>
                <div class="votes">
                    <p>
                        <i class="far fa-thumbs-up"></i>
                        {{ upvotes }}
                    </p>
                    <p>
                        <i class="far fa-thumbs-down"></i>
                        {{ downvotes }}
                    </p>
                </div>
                <div class="action-btns">
                    <a class="btn btn-primary" href="/create">create pitch</a>
                </div>
                <p>
                    {% for tag in tags %}
                        <small>{{ tag }}</small>
                    {% endfor %}
                </p>
            </div>
        </div>
        <div class="posts">
            {% for post in posts %}
                {{ macro.render_article(post.id, post.title, current_user.username ,post.content, post.upvotes, post.downvotes, post.tags, 'true') }}
            {% endfor %}
        </div>
    </section>
</main>
{% endblock %}