{% extends 'layout.html' %}
{% block content %}
<main class="container">
    <section class="intro">
        <div class="img-container">
            <img src="{{ url_for('static', filename='assets/header.jpg') }}" alt="code">
        </div>
        <article>
            <h1>welcome to the dev blog</h1>
            <p>
                the web dev blog is a blogging platform for developers, where developers
                can learn more about computer programming using the latest technologies.
                 topics like networking and artificial intelligence and even tech news 
                 through articles. 
            </p>
            <p>
                Interact with us. Like it, give it a thumbs up, express yourself through 
                comments.
            </p>
            <p>
                get started with us
                <div class="sign-up-btn">
                    <a href="" class="btn btn-primary">sign up</a>
                </div>
            </p>
        </article>
    </section>
    <section class="latest-posts">
        <h2>latest posts</h2>
        <div class="posts-container">
            <article>
                <h3>post title</h3>
                <small>- author</small>
                <p>
                    simple description here...
                </p>
                <div class="votes">upvote 1: donvote 3</div>
                <a href="">read more...</a>
            </article>
        </div>
    </section>
</main>
{% endblock %}