<div class="menu-container">
    <div class="close-btn-container">
        <i class="fas fa-times"></i>
    </div>
    <nav>
        <a href="/">home</a>
        <a href="/articles">articles</a>
        <!--this will take to contact page-->
        <a href="/account">account</a>
        <!-- if user is already logged in, we show logout link -->
        {% if current_user.is_authenticated %}
            <a href="/logout">logout</a>
        {% else %}
            <a href="/login">login</a>
            <a href="/register" class="btn btn-primary">sign up</a>
        {% endif %}
    </nav>
</div>